<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BLKBelediye.balikesirbelediye"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <activity android:name="com.BLKBelediye.balikesirbelediye.Splash"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


        <activity
            android:name="com.BLKBelediye.balikesirbelediye.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="infoDisplay.Kurumsal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.KURUMSAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.BalikesirMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BALIKESIRMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.EBelediye"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EBELEDIYE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.ERehber"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EREHBER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.ProjeVeHizmetler"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HIZMETLER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.BLKBelediye.balikesirbelediye.deneme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DENEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.BaskanOzgecmis"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BASKAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.balikesirMenu.BalikesirTarih"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TARIH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.E_Rehber.CevreHizmetleri"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CEVRE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.E_Rehber.EmlakVergisi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EMLAK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.E_Rehber.EvlendirmeIslemleri"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EVLENDIRME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.E_Rehber.InsaatRuhsati"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INSAAT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.E_Rehber.IskanRaporu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ISKAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.E_Rehber.IsyeriAcma"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ISYERI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="infoDisplay.E_Rehber.SuveKanalizasyon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SUVEKANAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="infoDisplay.balikesirMenu.Muhtarlik"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MUHTARLIK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
